<header class="masthead mb-auto">
  <div class="inner">
    <h3 class="masthead-brand">Umesh Kushwaha</h3>
    <nav class="nav nav-masthead justify-content-center main-nav-items">
     <%= nav_items("nav-link", "span") %>
      <%= header_links("nav-link") %>
    </nav>
  </div>
</header>