<aside class="col-md-4 blog-sidebar">
  
  <div class="card">
    <div class="card-body bg-light text-muted">
      <h5>About</h5>
      <p>
        Hi, I am a 3 year experienced Ruby on Rails developer. I love to code because after doing coding I get pay for it and if you want to survive you must need money.
      </p>
    </div>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol class="list-unstyled social-link">
      <li><a href="#"><%= fa_icon "github" %></a></li>
      <li><a href="#"><%= fa_icon "twitter" %></a></li>
      <li><a href="#"><%= fa_icon "facebook" %></a></li>
    </ol>
  </div>
</aside>