<div class="blog-masthead">
  <div class="container">
    <nav class="nav blog-nav bg-light">
      <%= nav_items("nav-link", "span") %>
      <%= header_links 'nav-link' %>
    </nav>
  </div>
</div>