<% unless logged_in?(:site_admin) %>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About me</h1>
      <p class="lead text-muted">Hi, I am 2.5 year experienced Ruby on Rails developer, currently I am working as a freelancer but I am looking for the full time work as a ROR developer.</p>
      <p>
        <%= link_to "More About Me", about_path, class: "btn btn-primary my-2" %>
        <%= link_to "Blog", blogs_path, class: "btn btn-secondary my-2" %>
      </p>
    </div>
  </section>
<% end %>