<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <%= link_to "All Portfolios", portfolios_path %> |
      <a href="#">Back to top</a>
    </p>
    <p><%= copyright_message %></p>
  </div>
</footer>