<h1>Contact us</h1><br>
<div class="row">
  <div class="col-md-6" style="border: 1px solid white;">
    <div class="umesh">
      <div>
        <p>Phone: +91-7415772388</p>
        <p>Email: ukk4732@gmail.com</p>
        <p>Adderess: 191-Sector B, scheme No 71, Indore 452009</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7361.37843401583!2d75.82361994391631!3d22.702610440171785!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3962fdb5a5632205%3A0x621eb50b8e53e1b3!2sShri%20Vaishnav%20Institute%20Of%20Management!5e0!3m2!1sen!2sin!4v1571024432426!5m2!1sen!2sin" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
  </div>
</div>

<style type="text/css">
  .umesh{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>