<h1 class="cover-heading">Welcome</h1>
<p class="lead">Hello, I am a 3 years experienced software developer. I have worked on various projects based on Ruby on Rails.Check about us page for more information about me.</p>
<p class="lead">
  <%= link_to "Learn more", about_path, class: "btn btn-lg btn-secondary" %>
</p>